<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
</head>
<body>
<h2>👤 회원 목록 👤</h2>
<a th:href="@{/insert}">👤 회원 추가 👤</a>
<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>주소</th>
        <th>수정/삭제</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="mem : ${datas}">
        <tr>
            <td th:text="${mem.num}"></td>
            <td th:text="${mem.name}"></td>
            <td th:text="${mem.addr}"></td>
            <td>
                <a th:href="@{/update(num=${mem.num})}">수정</a>
                <a th:href="@{/delete(num=${mem.num})}">삭제</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>
