<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>* 상품정보 * (@MVC - JPA) *</h3>
<table border="1">
    <tr>
        <th>코드</th><th>품명</th><th>수량</th><th>단가</th>
    </tr>
    <tbody>
    <tr th:each="sang : ${datas}">
        <td th:text="${sang.code}">code</td>
        <td th:text="${sang.sang}">sang</td>
        <td th:text="${sang.su}">su</td>
        <td th:text="${sang.dan}">dan</td>
    </tr>
    </tbody>
    <tr>
        <td colspan="4" th:text="${datas.size}">건수</td>
    </tr>
    <tr>
        <td colspan="4">
            <form th:action="@{/search}" method="get">
                상품명 : <input type="text" name="searchValue">
                <input type="submit" value="검 색">
            </form>
        </td>
    </tr>
</table>
</body>
</html>