<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        function fetchMembers() {
            fetch('/api/members',{
                method: 'GET'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(('네ㅇ크워크 응답 오류'));
                    }
                    return response.json();
                })
                .then(members => {
                    displayMembers(members);
                })
                .catch(error => {
                    console.log('일기중 에러 : ', error);
                })
        }

        function displayMembers(members) {
            const tableBody = document.getElementById('tableBody');
            tableBody.innerHTML = ''; // 초기화

            members.forEach(member => {
                const row = `
            <tr>
                <td>${member.num}</td>
                <td>${member.name}</td>
                <td>${member.addr}</td>
                <td><a href="#" onclick='editMember(${member.num})'>수정</a></td>
                <td><a href="#" onclick="deleteMember(${member.num})">삭제</a></td>
            </tr>
        `;
                tableBody.insertAdjacentHTML("beforeend", row);
            });
        }
        function editMember(num) {
            location.href = `/members/update/${num}`;

        }

        function deleteMember(num) {
            if (!confirm(`${num}번 회원을 삭제할까요?`)) return;

            fetch(`/api/members/${num}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (!response.ok) throw new Error("삭제 실패");
                    return response.json();
                })
                .then(data => {
                    if (data.isSuccess) {
                        alert("삭제 완료");
                        fetchMembers(); // 목록 다시 불러오기
                    } else {
                        alert("삭제 실패: " + data.message);
                    }
                })
                .catch(error => {
                    console.error("삭제 중 오류:", error);
                    alert("서버 오류로 삭제 실패");
                });
        }

    </script>
</head>
<body>
<h3>* 회원정보 *</h3>
<a th:href="@{/}">메인으로</a>
<br>
<button onclick="fetchMembers()">회원 읽기</button>
<br><br>
<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>주소</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody id="tableBody">
    <!-- 회원자료 표시 위치 -->
    </tbody>
</table>
</body>
</html>